body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.well label {
  display: block;
}
.well input {
  margin-bottom: 5px;
}
.btn {
  margin-top: 5px;
  border: outset 1px #C8C8C8;
}


@media screen and (max-width: 600px) {
    body {
        padding: 50px 10px;
    }

    td.category {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}
